@import "tailwindcss";


html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    180deg,
    #172554 0%,
    #0f172a 50%,
    #020617 100%
  );
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}